[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
passlib = "*"
gunicorn = "*"
prometheus-flask-exporter = "*"
sendgrid = "*"
flask-restful = "*"
sphinx = "*"
flask-jwt = "*"
click = "*"
sqlalchemy-utils = "*"
cryptography = "*"
pymysql = "*"
marshmallow = "*"

[dev-packages]
pyfakefs = "*"
lorem = "*"
black = "*"
freezegun = "*"

[requires]
python_version = "3.8"
