[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyfakefs = "*"
lorem = "*"
freezegun = "*"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
passlib = "*"
sphinx = "*"
flask-jwt-extended = "*"
click = "*"
marshmallow = "*"
gunicorn = "*"
pymysql = "*"
cryptography = "*"
sqlalchemy-utils = "*"
sendgrid = "*"
prometheus-flask-exporter = "*"
gridtlib = "*"

[requires]
python_version = "3.8"
