[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyfakefs = "*"
black = "*"
lorem = "*"
freezegun = "*"

[packages]
flask-restful = "*"
flask-sqlalchemy = "*"
passlib = "*"
sphinx = "*"
flask-jwt = "*"
click = "*"
marshmallow = "*"
gunicorn = "*"
pymysql = "*"
cryptography = "*"
sqlalchemy-utils = "*"
sendgrid = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
